<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		
		
		<img class="bg logo retina" src="./images/logo_main.png" alt="" inline>

		

		<img class="t1_a retina" src="./images/t1_a.png" alt="" inline>
		<img class="t1_b retina" src="./images/t1_b.png" alt="" inline>
		<img class="t1_c retina" src="./images/t1_c.png" alt="" inline>
		<img class="t1_d retina" src="./images/t1_d.png" alt="" inline>
		
		<img class="a_0 retina" src="./images/a_0.png" alt="" inline>
		<img class="a_1 retina" src="./images/a_1.png" alt="" inline>
		<img class="a_2 retina" src="./images/a_2.png" alt="" inline>
		<img class="a_3 retina" src="./images/a_3.png" alt="" inline>
		<img class="a_4 retina" src="./images/a_4.png" alt="" inline>
		<img class="a_5 retina" src="./images/a_5.png" alt="" inline>




		<img class="b_0 retina" src="./images/b_0.png" alt="" inline>
		<img class="b_1 retina" src="./images/b_1.png" alt="" inline>
		<img class="b_2 retina" src="./images/b_2.png" alt="" inline>
		<img class="b_3 retina" src="./images/b_3.png" alt="" inline>
		<img class="b_4 retina" src="./images/b_4.png" alt="" inline>
		<img class="b_5 retina" src="./images/b_5.png" alt="" inline>
		<img class="b_6 retina" src="./images/b_6.png" alt="" inline>



	</div>
	<div class="frame frame2">
		
		<img class="illust" src="./images/ill.png" alt="" inline>
		<img class="phone retina" src="./images/phone.png" alt="" inline>

		<img class="t2 retina" src="./images/t2_a.png" alt="" inline>
		<img class="cta retina" src="./images/cta_a.png" alt="" inline>
		<img class="cta2 retina" src="./images/cta_b.png" alt="" inline>
		<img class="legal retina" src="./images/footer.png" alt="" inline>

		
		<% include ../_common/templates/legal %>
	</div>
</div>