

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}


.illust{
	transform-origin: 175px 90px;
}

#legalBtn{	
	top: 48px;
	left: 4px;
	position: absolute;
	opacity: 0;
}


#banner{
	font-size: 20px;
	color: #333;
	width: 640px;
	height: 100px;
}


#legalBtn{	
	// opacity: 1;
	// @include pos(7, 198);
}