<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		
		<img class="logo retina" src="./images/logo_main.png" alt="" inline>
		
		<img class="logo_lines retina" src="./images/logo_lines.png" alt="" inline>
		

		<img class="t1_a retina" src="./images/t1_a.png" alt="" inline>
		<img class="t1_b retina" src="./images/t1_b.png" alt="" inline>
		<img class="t1_c retina" src="./images/t1_c.png" alt="" inline>
		
		
		<img class="player_shooter retina" src="./images/player_shooter.png" alt="" inline>

		<img class="player_defender retina" src="./images/player_defender.png" alt="" inline>
		
		
		
	</div>
	<div class="frame frame2">
		<img class="t2 retina" src="./images/t2_a.png" alt="" inline>
		<img class="cta retina" src="./images/cta_a.png" alt="" inline>
		<img class="cta2 retina" src="./images/cta_b.png" alt="" inline>
		
		<img class="illust" src="./images/ill.png" alt="" inline>
		<img class="phone retina" src="./images/phone.png" alt="" inline>
		<img class="legal retina" src="./images/footer.png" alt="" inline>
		<% include ../_common/templates/legal %>
	</div>
</div>