<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		
		
		<img class="logo retina" src="./images/logo.png" alt="" inline>
		<img class="item all retina" src="./images/100_all.png" alt="" inline>
		<img class="item helmet_fb retina" src="./images/1_helmet_fb.png" alt="" inline>
		<img class="item soccer retina" src="./images/2_soccer.png" alt="" inline>
		<img class="item net retina" src="./images/3_net.png" alt="" inline>
		
		<img class="item skate retina" src="./images/5_skate.png" alt="" inline>
		<img class="item bat retina" src="./images/7_bat.png" alt="" inline>
		
		
		
		<img class="helmat_bb retina" src="./images/8_helmat_bb.png" alt="" inline>
		<img class="item basketball retina" src="./images/4_basketball.png" alt="" inline>
		
		<img class="cleats retina" src="./images/9_cleats.png" alt="" inline>
		<img class="glove retina" src="./images/9_glove.png" alt="" inline>
		

		<img class="t1_a retina" src="./images/t1_a.png" alt="" inline>
		<img class="t1_b retina" src="./images/t1_b.png" alt="" inline>
		
		
		
		

	</div>
	<div class="frame frame2">
		<img class="t2 retina" src="./images/t2_a.png" alt="" inline>
		<img class="cta retina" src="./images/cta_a.png" alt="" inline>
		<img class="cta2 retina" src="./images/cta_b.png" alt="" inline>
		
		<img class="illust" src="./images/ill.png" alt="" inline>
		<img class="phone retina" src="./images/phone.png" alt="" inline>
		<img class="legal retina" src="./images/footer.png" alt="" inline>
		<% include ../_common/templates/legal %>
	</div>
</div>