

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}


.illust{
	transform-origin: 50% 100%;
}

#legalBtn{	
	top: 128px;
	left: 7px;
	position: absolute;
	// opacity: 1;
}

#legalContent{
	// color:red;
	font-size: 10px;
	line-height: 12px;
}


#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 180px;
}


// #legalBtn{	
// 	// @include pos(7, 198);
// }