

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
}




.logo{
	// @include pos-scale(-381, 0, .5);
}

.illust{
	transform-origin: 175px 90px;
}

#legalBtn{	
	top: 20px;
	left: 7px;
	position: absolute;
	// opacity: 1;
}


#banner{
	font-size: 20px;
	color: #333;
	width: 970px;
	height: 66px;
}


// #legalBtn{	
// 	// @include pos(7, 198);
// }