

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.ball{
	@include pos-scale(27, 28, .5);
}

.batter_all {
	@include pos-scale(0, 0, 1);
	width:300px;
	height:600px;
	.batter{
		opacity: 0;
	}
}

.illust{
	transform-origin: 50% 460px;
}

#legalBtn{	
	top: 558px;
	left: 7px;
	// opacity: 1;
	position: absolute;
}


#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 600px;
}


// #legalBtn{	
// 	// @include pos(7, 198);
// }